:host {
    flex-grow: 1;
}

.home-content-image {
    width: 240px;
    margin: 14px;
}

.home-content-image-small {
    width: 100%;
}

.home-content-option {
    display: flex;
    flex-grow: 1;
    font-size: 165px;
    color:white;
    align-items: center;
    justify-content: center;
}

.home-content-option-small {
    font-size: 15px;
    color: #555;
    margin-left: 15px;
}