
<div class="sign-in-form">
  <!-- <img src="./assets/Logo/circular.png" /> -->
  <h4>Sign In</h4>
  <form #signInForm="ngForm" (ngSubmit)="onSubmit(signInForm)" novalidate>
    <mat-form-field class="example-full-width">
      <input  name="username" class="md-input-container" required matInput placeholder="Username"  [(ngModel)]="user.username"/>
      <mat-error [hidden]="user.username.pristine || user.username.valid">
      Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input name="password" required type="password" matInput placeholder="Password" [(ngModel)]="user.password"/>
      <mat-error [hidden]="user.password.valid || user.password.pristine">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-checkbox name="rememberMe">Remember Me!</mat-checkbox>
    <div *ngIf="formError" class="alert alert-danger">
      {{ formError }}
    </div>
    <div *ngIf="!submitting">
      <a routerLink="/register">Register</a>
      <button type="submit" class="btn btn-primary">Sign In</button>
    </div>
    <div *ngIf="submitting">
      <p class="message">Signing In...</p>
    </div>
  </form>
</div>
