<div class="SettingsContainer col-xs-6">
  <h1>SYSTEM AUDIO</h1>

  <div class="SettingsContainerContent">
    <div>
        <label>Select theme background music</label>
        <ul>
          <li>
            <label>Track 1</label>
            <i class="playerActions fa fa-play" aria-hidden="true"></i>
            <i class="playerActions fa fa-pause" aria-hidden="true"></i>
            <i class="playerActions fa fa-stop" aria-hidden="true"></i>
            
          </li>
          <li>
              <label>Track 2</label>
              <i class="fa fa-play" aria-hidden="true"></i>
              <i class="fa fa-pause" aria-hidden="true"></i>
              <i class="fa fa-stop" aria-hidden="true"></i>
          </li>
          <li>
              <label>Track 3</label>
              <i class="fa fa-play" aria-hidden="true"></i>
              <i class="fa fa-pause" aria-hidden="true"></i>
              <i class="fa fa-stop" aria-hidden="true"></i>
          </li>
          <li>
              <label>Track 4</label>
              <i class="fa fa-play" aria-hidden="true"></i>
              <i class="fa fa-pause" aria-hidden="true"></i>
              <i class="fa fa-stop" aria-hidden="true"></i>
          </li>
          <li>
              <label>Track 5</label>
              <i class="fa fa-play" aria-hidden="true"></i>
              <i class="fa fa-pause" aria-hidden="true"></i>
              <i class="fa fa-stop" aria-hidden="true"></i>
          </li>
        </ul>
    </div>
    <div>
      <label>Mute theme background music</label>
      <input type="checkbox">
    </div>
  </div>


</div>
<div class="SettingsContainer col-xs-6"><h1>WALLPAPERS</h1></div>
<div class="SettingsContainer col-xs-6"><h1>ACCOUNTS</h1></div>
<div class="SettingsContainer col-xs-6"><h1>OFFLINE MULTIMEDIA</h1></div>
<div class="SettingsContainer col-xs-6"><h1>AUTHENTICATION</h1></div>