
<settings-system-audio></settings-system-audio>


<!-- <div class="row">
  <div class="col-xs-6">
    <div class="SettingsContainer">
      <h1>SYSTEM AUDIO</h1>
      <div class="SettingsContainerContent">
        <div>
          <label>Select theme background music</label>
          <ul>
            <li class="col-xs-12">
              <div class="col-xs-8">Alicks-Abandoned.mp3</div>
              <div class="col-xs-3">
                <i class="playerActions fa fa-step-backward" aria-hidden="true"></i>
                <i class="playerActions fa fa-play" aria-hidden="true"></i>
                <i class="playerActions fa fa-pause" aria-hidden="true"></i>
                <i class="playerActions fa fa-stop" aria-hidden="true"></i>
                <i class="playerActions fa fa-step-forward" aria-hidden="true"></i>
              </div>
              <div class="col-xs-1"><input type="checkbox"></div>
            </li> 
          </ul>
        </div>
        <div>
        <label>Mute theme background music</label>
        <input type="checkbox">
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="SettingsContainer">
      <h1>WALLPAPERS</h1>
      <div class="SettingsContainerContent">
        <div>
          <div class="col-xs-4">
            <img class="wallpaper" src="../../assets/Themes/Background.jpg" />
          </div>
          <div class="col-xs-4">
            <img class="wallpaper" src="../../assets/Themes/wallhaven-152793.jpg" />
          </div>
          <div class="col-xs-4">
            <img class="wallpaper" src="../../assets/Themes/wallhaven-347980.jpg" />
          </div>
          <div class="col-xs-4">
            <img class="wallpaper" src="../../assets/Themes/wallhaven-607612.png" />
          </div>
          <div class="col-xs-4">
            <img class="wallpaper" src="../../assets/Themes/wallhaven-329291.jpg" />
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="SettingsContainerContent">
        <label>Wallper Interval</label> 

        <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>

      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-xs-6">
    <div class="SettingsContainer"><h1>ACCOUNTS</h1></div>
  </div>
  <div class="col-xs-6">
    <div class="SettingsContainer"><h1>OFFLINE MULTIMEDIA</h1></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <div class="SettingsContainer"><h1>AUTHENTICATION</h1></div>
  </div>
</div> -->


<div id="siri-container"></div>





